.recent-grid {
    margin-top: 3.5rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 50% auto;
}
.avatarWrapper {
    padding: 30px;
    display: flex;
    margin: auto;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

}

#previewImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 500px;
    max-width: 500px;
}

.card-body{
    display: flex;
    flex-direction: column;
    height: 100%;

}
.settingsButton {
    padding-top: 17px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 75px;
}
.button {
    background: var(--main-color);
    border-radius: 10px;
    color: var(--text-color);
    font-size: .8rem;
    padding: .5rem 1rem;
    margin-left: 6px;
    border: 1px solid var(--main-color);

}
.button:hover {
    background-color: var(--progress-bar);
    scale: 103%;
    border-color: var(--progress-bar);
}
.button::-webkit-file-upload-button {
    background-color: var(--background-color);
    color: var(--text-default);
    border-radius: 10px;
    border: none;
    cursor:pointer;
    margin-right: 10px;
}

.passwordField ,
.usernameField {
    display: flex;
    flex-direction: column;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 40px;
}

.passwordField:last-child,
.usernameField:last-child {
    padding-bottom: 30px;
}

.checkField{
    display: flex;
    flex-direction: column;
    margin-left: 55px;
}
.imageWrapper{
    display: flex;
    justify-content: center;
}
.checkWrapper{
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    grid-gap: 10px;
    align-items: baseline;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.themeBox{
    display: flex;
    grid-gap: 1rem;
    align-items: baseline;
    justify-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.themeImg{
    width: calc(100% - 20px);
    height: 190px;
    border-radius: 20px;
    margin-right: 40px;
}

.first {
    margin-top: 30px;
}

.passwordField input,
.usernameField input {
    font-size: 1.2rem;
}



.card {
    height: 100%;
}

.card-body h4 {
    margin-top: 19px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.errorMessage,
.successfulMessage{
    display: flex;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-left: 14px;
}

.errorMessage{
    color: #9f363f;
    background: #f3dcdd;
}
.successfulMessage{
    color: #419f36;
    background: #e0f3dc;
}




@media only screen and (max-width: 960px) {
    .recent-grid {
        grid-template-columns: 50% 50%;
    }
}

@media only screen and (max-width: 918px) {
    #submitBtn{
        margin-top: 7px;
    }
}
@media only screen and (max-width: 1217px) {
    #submitBtn{
        margin-top: 7px;
    }
}

@media only screen and (max-width: 768px) {
    .recent-grid {
        grid-template-columns: 100%;
    }
}



