<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" th:href="@{css/index.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/settings.css" th:href="@{css/settings.css}">
    <link rel="shortcut icon" type="image/x-icon" href="/images/circle_chec.ico" th:href="@{images/circle_chec.ico}">
    <script type="text/javascript" src="../static/js/settings.js" th:src="@{js/settings.js}"></script>

    <title>Settings</title>
</head>
<body>

<input type="checkbox" id="nav-toggle">
<div class="sidebar-container">
    <div class="sidebar-brand">
        <h2><span class="lab la-accusoft"></span><span>Accusoft</span></h2>
    </div>

    <div class="sidebar-menu">
        <ul>
            <li>
                <a th:href="@{/}" class="tab-btn "><span><i class="las la-home"></i></span><span>Dashboard</span>
                </a>
            </li>
            <li>
                <a id="settingsTabBtn " th:href="@{/settings}" class="tab-btn active">
                    <span><i class="fas fa-cogs"></i></span><span>Settings</span>
                </a>
            </li>
            <li>
                <a class="tab-btn" th:href="@{/logout}"><span><i
                        class="fas fa-sign-out-alt"></i></span><span>Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>
            Settings
        </h2>


        <div class="user-wrapper">
            <img id="avatarImage" class="avatarImage" src="" width="40px" height="40px" alt="">
            <div>
                <h4 id="usernameField">Unknown</h4>
                <small id="authoritiesField">none</small>
            </div>
        </div>

    </header>

    <main>

        <div class="recent-grid">
            <div class="settingOption">
                <div class="card">
                    <div class="card-header">
                        <h3>Your profile picture</h3>

                    </div>

                    <div class="card-body">
                        <h4>You can change your profile avatar. Upload an image you want</h4>
                        <div class="avatarWrapper">
                            <img id="previewImage" class="avatarImage" src="" alt="">
                        </div>
                        <div class="settingsButton">
                            <form th:action="@{/user/logged/avatar}" th:method="put" enctype="multipart/form-data">
                                <input class="button" type="file" accept="image/*" name="image" required>
                                <input class="button" type="submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="settingOption">
                <div class="card">
                    <div class="card-header">
                        <h3>Your password</h3>
                    </div>

                    <div class="card-body">
                        <h4>You can change your password here. Do not share your password with anyone.</h4>
                        <div class="passwordField first">
                            <label for="oldPassword">Type your old password: </label>
                            <input id="oldPassword" type="password" placeholder="Old password">
                        </div>

                        <div class="passwordField">
                            <label for="newPassword">Type your new password: </label>
                            <input id="newPassword" type="password" placeholder="New password">
                        </div>

                        <div class="passwordField">
                            <label for="repeatPassword">Repeat your new password: </label>
                            <input id="repeatPassword" type="password" placeholder="Repeated password">
                        </div>


                        <div class="errorMessage">
                            <p id="passwordMatchError"></p>
                        </div>
                        <div class="successfulMessage">
                            <p id="passwordSuccessful"></p>
                        </div>


                        <div class="settingsButton">

                            <button class="button" id="passwordButton" onclick="checkPassword()">Change password
                            </button>

                        </div>

                    </div>
                </div>
            </div>

            <div class="settingOption">
                <div class="card">
                    <div class="card-header">
                        <h3>Your username</h3>
                    </div>

                    <div class="card-body">
                        <h4>You can change your username here.</h4>
                        <div class="usernameField first">
                            <label for="oldUsername">Type your old username: </label>
                            <input id="oldUsername" type="text" placeholder="Old username">
                        </div>

                        <div class="usernameField">
                            <label for="newUsername">Type your new username: </label>
                            <input id="newUsername" type="text" placeholder="New username">
                        </div>

                        <div class="errorMessage">
                            <p id="usernameMatchError"></p>
                        </div>
                        <div class="successfulMessage">
                            <p id="usernameSuccessful"></p>
                        </div>


                        <div class="settingsButton">

                            <button class="button" id="usernameButton" onclick="checkUsername()">Change username</button>

                        </div>

                    </div>
                </div>
            </div>

            <div class="settingOption">
                <div class="card">
                    <div class="card-header">
                        <h3>Your theme</h3>
                    </div>

                    <div class="card-body">
                        dwadwadawdaw
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>